//h1//
.portfolio__title--none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//section//
.portfolio {
  background-color: $secondary-beckgrond-color;
   @media screen and (max-width: 1199px) {
   padding-bottom: 60px;
  padding-top: 60px;
}
  @media screen and (min-width: 1200px) {
  padding-bottom: 94px;
  padding-top: 94px;
}
}
  

//button__list//
.button__list {
  //   margin-bottom: 50px;
  outline: invert;
  display: flex;
  @media screen and (min-width: 320px) {
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 425px) {
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.button__item--button {
  border: 0;
  padding: 6px 22px;
  background: $bgc-button;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__item {
  @media screen and (max-width: 424px) {
    margin-right: 8px;
    margin-bottom: 15px;
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
    &:nth-child(4),
    &:nth-child(5) {
      margin: 0;
    }
  }
  @media screen and (min-width: 425px) {
    margin-right: 8px;
    margin-bottom: 15px;
    &:nth-child(n + 3) {
      margin-bottom: 0;
    }
    &:nth-child {
      margin-right: 0;
    }
  }
  //   @media screen and (max-width: 1600px)  {

  // margin-right: 8px;
  //   }
}

// .button__item:not(:last-child) {
//   margin-right: 8px;
// }

.button__item--button:hover,
.button__item--button:focus {
  background-color: $buttons-color;
  color: $secondary-beckgrond-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

//card set//
.portfolio__list {
  margin: 0;
  padding: 0;
  // display: flex;
  // flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    // width: 354px;
    //  flex-basis: calc((100% - 4 * 15px) / 2);
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__item {
  margin: 0px;
  // margin-left: 15px;
  display: block;
  padding: 0px;
  background: $secondary-beckgrond-color;
  @media screen and (min-width: 320px) {
    // width: 480px;
    margin-bottom: 30px;
    &:last-child{
        margin: 0;
    }
  }
  @media screen and (min-width: 768px) {
    // width: 354px;
    margin-right: 30px;

    flex-basis: calc((100% - 1 * 30px) / 2);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

// .portfolio__item:nth-child(-n + 6){
//     margin-bottom: 30px;
// }
// .portfolio__item:not(:nth-child(3n)){
//     margin-right: 30px;
// }

.portfolio__link {
  display: block;
  text-decoration: none;
  color: $secondary-color-text;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 320px) {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
    height: 100%;
  }
}

.portfolio__thumb-text {
  position: relative;
  // width: 100%;
  // height: 100%;
  overflow: hidden;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px) {
  }
}

.portfolio__image-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  opacity: 0;
  // padding: 63px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  // line-height: 1.56;
  letter-spacing: 0.03em;
  color: $secondary-beckgrond-color;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 320px) {
    line-height: 1.1256;
    padding: 22px 24px;
  }
  @media screen and (min-width: 375px) {
    line-height: 1.256;
    padding: 65px 24px;
  }
  @media screen and (min-width: 425px) {
    line-height: 1.56;
    padding: 75px 34px;
  }
  @media screen and (min-width: 480px) {
    line-height: 1.56;
    padding: 77px 24px;
  }
}

.portfolio__link:hover .portfolio__image-text,
.portfolio__link:focus .portfolio__image-text {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio__container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $primeary-color-text;
}
.portfolio__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.875;
}

.button__item {
  color: #eeeeee;
}
