.client {
  //  padding-top: 94px;
  // padding-bottom: 94px;
  @media screen and (min-width: 320px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
   @media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 50px;
  font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primeary-color-text;
  @media screen and (min-width: 320px) {
    font-size: 28px;
    line-height: 1.17;
  }
   @media screen and (min-width: 1200px) {
  font-size: 36px;
  line-height: 1.16;
  }
}

.client__list {
  gap: 30px;
  width: 100%;
  @media screen and (min-width: 320px) {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    flex-wrap: nowrap;
    justify-content: center;
  }
  //   align-content: center;
  //   min-width: 480px;

  // display: flex;
  // flex-wrap: wrap;
  //  justify-content: center;
}

.client__item {
  fill: #afb1b8;
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;

  @media screen and (min-width: 320px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    // margin-right: 30px;
    // margin-bottom: 30px;
    // width: 210px;
    flex-basis: calc((100% - 60px) / 3);
  }

  //  @media screen and (min-width: 1200px) {
  //   // margin: 0;
  //   // margin-right: 30px;
  // //

  // }

  // margin-right: auto;

  // width: calc((100% - 15px)/2);
  // width: calc((100%/2));
  // width: 170px;
  // height: 92px;
  // margin-right: 30px;
  //     &:last-child{
  //     margin-right: 0;
  // }
}

.client__link {
  height: 92px;
  // margin: 15px;
  // width: calc((100% - 15px)/2);

  border: 1px solid #afb1b8;
  border-radius: 4px;
  //   width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $buttons-color;
  }
  &:focus > .client__icon,
  &:hover > .client__icon {
    fill: $buttons-color;
  }
  //  @media screen and (min-width: 480px) {

  //   width: 210px;

  // }
  //   @media screen and (min-width: 768px) {

  //   width: 226px;

  // }
}

.client__icon {
  fill: #afb1b8;
}
