.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: $footer-beckground-color;  
}





.footer__logo{
display: inline-flex;
margin-bottom: 20px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: $secondary-beckgrond-color;
text-decoration:none ;
}
.footer__logo--color{
   color: $buttons-color; 
}

.footer__list{
    font-style: normal;
    // display: inline-flex;
    // flex-direction: column;
}

.footer__item:not(:last-child){
   margin-bottom: 9px;
}


.footer__contacts{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);  
    text-decoration:none ;
    transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: $buttons-color;
    }
}


///Soc list///

.footer__social{
    padding-left: 70px;
}

.footer__title{
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:$secondary-beckgrond-color;
}

.footer__cos-list{
    display: flex;
}


.footer__item:not(:last-child){
 margin-right:10px;
}

.footer__link{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 44px;
    width: 44px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: $secondary-beckgrond-color;
    fill:  currentColor;
    background-color:  $buttons-color;  
    }
}


.footer__icon{
   fill: $secondary-beckgrond-color; 
}


.footer__subscribe{
    margin-left: auto;
}


.footer__input {
    margin-right: 12px;
    padding: 15px 16px;
    min-width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: $secondary-beckgrond-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder{
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6); 
    }
    &:focus,
    &:hover{
    border-color: $buttons-color;
    outline: none;
    }
}

.button-primary{
justify-content: center;
background-color: $buttons-color;
color: $secondary-beckgrond-color;
cursor: pointer;
width: 200px;
height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
letter-spacing: 0.06em;
border: none;
 transition:  250ms cubic-bezier(0.4, 0, 0.2, 1) ;
 transition-property:background-color color box-shadow;
 &:hover,
 &:focus{
    background-color: #188ce8;
 }
}

.button-primary--after{
     width: 200px;
    height: 50px;
    position: relative;
    padding-right: 62px;
    padding-left: 29px;
    &::after{
     content: '';
    display: block;
    position: absolute;
    top: 13px;
    right: 28px;
    width: 24px;
    height: 24px;
    background-image: url(../svg/send.svg);
    background-size: contain;
    margin-left: 10px;
}
}