.futures {
  //  padding-top: 94px;
  @media screen and (min-width: 320px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.futures__list {
  gap: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
  // display: flex;
}

.futures__item {
  @media screen and (min-width:768px) {
     flex-basis: calc((100% - 30px) / 2);
  }
    @media screen and (min-width:1200px) {
     flex-basis: calc((100% - 30px) / 3);
  }
  }


.futures__link {
  display: block;
  height: 120px;

  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.futures__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primeary-color-text;
}

.futures__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-color-text;
}
