// header/
.header {
  background-color: $secondary-beckgrond-color;
  border-bottom: 1px solid #ececec;
}

.container-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primeary-color-text;
  text-decoration: none;
  margin-right: 93px;
}

.header__logo--color {
  color: $buttons-color;
}

.header__list {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__item {
  margin-left: 50px;
  position: inherit;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $primeary-color-text;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $buttons-color;
  }
}

.header__link--current {
  color: $buttons-color;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    background: #2196f3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__item {
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: $secondary-color-text;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $buttons-color;
  }
  &:last-child {
    margin-left: 50px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
