.hero {
  background: $footer-beckground-color;
  text-align: center;
  // padding-top: 200px;
  // padding-bottom: 200px;
  //
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-repeat: no-repeat;
  @media screen and (min-width: 320px) {
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/hero-m-x1-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image/hero-m-x2-min.jpg);
      background-size: cover;
    }
  }
  @media screen and (min-width: 760px) {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), url(../image/hero-t-x1-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:linear-gradient(
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), url(../image/hero-t-x2-min.jpg);
      background-size: cover;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), url(../image/hero-p-x1-min.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)),url(../image/hero-p-x2-min.jpg);
      background-size: cover;
    }
  }
}

.hero__title {
  margin: 0 auto 30px;
  text-align: center;
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-beckgrond-color;
  @media screen and (min-width: 320px) {
    font-size: 26px;
    line-height: 1.61;
    // max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;

    // max-width: 360px;
  }
}
