.hero{
    background: $footer-beckground-color;
background-image:
 linear-gradient(
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)),
 url(../image/hero.jpg);
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
margin-right: auto;
margin-left: auto;
max-width: 1600px;
 background-repeat: no-repeat;
}

.hero__title{
    // width: 696px;
margin: 0 auto 30px;
text-align: center;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: $secondary-beckgrond-color;
}
