.beckdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   padding: 15px;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beckdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  & .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  // z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  opacity: 1;
  display: inline-block;
  background-color: $secondary-beckgrond-color;
  // width: 528px;
  // height: 581px;

  //   padding-top: 40px;
  //   padding-bottom: 40px;
  //   padding-right: 40px;
  //   padding-left: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 374px) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (max-width: 424px) {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (min-width: 425px) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    width: 450px;
  }
}

.modal__close {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $buttons-color;
    fill: currentColor;
  }
}

.modal__icon-close {
  height: 18px;
  width: 18px;
}

.modal__title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primeary-color-text;
  @media screen and (max-width: 1099px) {
    line-height: 1.5;
  }
  @media screen and (max-width: 1100px) {
    line-height: 1.15;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal__label {
  top: 0;
  left: 0;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-color-text;
  //////////////////
  &:focus-visible {
    outline: none;
    color: $buttons-color;
    border: 1px solid $buttons-color;
  }
}

.modal__input {
  // width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /////////////////////////////
  &:focus-visible + .modal__icon {
    fill: $buttons-color;
  }
  //////////////
  &:focus-visible {
    border: 1px solid $buttons-color;
    border-radius: 4px;
  }
  //////////////////
  &:focus,
  &:hover {
    border: 1px solid $buttons-color;
  }
  &:focus + .modal__icon,
  &:hover + .modal__icon {
    fill: $buttons-color;
  }
}

.modal__icon {
  height: 18px;
  width: 18px;
  position: absolute;
  bottom: 12px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.modal__placeholder {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  box-sizing: border-box;
  outline: none;
  resize: none;
  // width: 448px;
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #75757580;
  }
  &:focus-visible,
  &:focus,
  &:hover {
    border: 1px solid $buttons-color;
    border-radius: 4px;
  }
}

.modal__checkbox {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__none-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  display: inline-block;
  margin-right: 9px;
  border: 2px solid $primeary-color-text;

  width: 16px;
  height: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 2550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-text {
  margin: 0;
  padding: 0;
  /* margin-bottom: 30px; */
  //   font-size: 14px;
  //   line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-color-text;
  @media screen and (max-width: 479px) {
    font-size: 13px;
    line-height: 1.16;
    // text-align: center;
  }
  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.16;
    // text-align: center;
  }
  @media screen and (min-width: 1100px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__checkbox-link {
  color: $buttons-color;
}

.modal__check:checked + .modal__checkbox-icon {
  background-color: $buttons-color;
  background-image: url(../svg/checks.svg);
  background-size: contain;
  border-color: transparent;
  background-origin: border-box;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  margin-right: auto;
  margin-left: auto;
}
