     $primeary-color-text:#212121;
     $secondary-color-text:#757575;
     $buttons-color:#2196F3;
     $primeary-beckground-color:#E5E5E5;
     $secondary-beckgrond-color:#fff;
     $footer-beckground-color:#2F303A;
     $bgc-button:#F5F4FA;
     
     h1,
     h2,
     h3,
     h4,
     span,
     li,
     ul,
     a,
     p{
          margin: 0;
          padding: 0;
          list-style: none;
     }